<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1>Notícia</h1>
		<% if (noticia[0]) { %>
			<p>
				<label>Id: </label>
				<%= noticia.id %>
				<span><%= noticia[0].id %></span>
			</p>
			<p>
				<label>Título: </label>
				<span><%= noticia[0].titulo %></span>
			</p>
			<p>
				<label>Notícia: </label>
				<span><%= noticia[0].noticia %></span>
			</p>
		<% } %>
	</body>
</html>